.hero{
    background-color: #610BEF;
    color: white;
    height: 580px;
    align-items: center;
    h1{
        font-size: 64px;
        font-weight: 600;
    }
    p{
        font-size: 24px;
        font-weight: 400;
    }
    .btn-signup{
        height: 52px!important;
        padding: 9px 20px 12px 20px;
        border: 2px solid #610BEF;
        border-radius: 12px;
        color: #610BEF;
        font-weight: 600;
        font-size: 18px;
        align-self: center;
        align-content: center;
        letter-spacing: 0.75px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.1s ease-out;

        &:hover{
          color:white;
          background-color: #610BEF;
          transition: all 0.1s ease-out;
          border: 2px solid white;
        }
    }
}