<div class="container-fluid hero d-flex">
    <div class="container align-items-center">
        <div class="row">
            <div class="col-6 align-self-center">
                <h1>
                    Video Conferencing Made Easy
                </h1>
                <p>
                    The best way to conduct meetings is with us.
                </p>
                <button class="btn-signup">
                    Try Now
                </button>
            </div>
            <div class="col-6">
                <img src="../../../assets/images/Device - Macbook Pro.png" alt="">
            </div>
        </div>
    </div>
</div>
