
<!-- <div id="zmmtg-root"></div> -->
<div class="container">
    <div class="row d-flex m-auto justify-content-center">
        <div class="col-5 formbox">
            <h2>Join a Meeting</h2>
            <!-- <div class="video-preview"></div> -->
            <!-- <div class="media-control">
                <button class="btn-media">Camera On</button>
                <button class="btn-media">Microphone On</button>
            </div> -->
            <form [formGroup]="joinform" style="margin-top: 20px;" (ngSubmit)="onSubmit()">
                <div class="field form-floating" [class.invalid]="">
                    <input type="   " class="form-control" formControlName="meetingNumber" placeholder="Meeting ID" required>
                    <label for="" class="label">Meeting ID</label>
                </div>
                <div class="field form-floating" [class.invalid]="">
                    <input type="password" class="form-control" formControlName="meetingPassword" placeholder="Meeting Password" required>
                    <label for="" class="label">Meeting Password</label>
                </div>
                <div class="participant-name" style="margin-top: 40px;">Joining as <h4>{{ userName }}</h4></div>
                <button class="btn-register" type="submit">Join Meeting</button>
            </form>
            
        </div>
    </div>

</div>