<div class="container">
    <div class="row d-flex m-auto justify-content-center">
        <div class="col-5 formbox">
            <h2>Start a New Meeting</h2>
            <div class="video-preview">
                <video src="" id="vid-prev"></video>
            </div>
            <div class="participant-name">Joining as <h4>John Doe</h4></div>
            <div class="media-control">
                <button class="btn-media">Camera On</button>
                <button class="btn-media">Microphone On</button>
            </div>
            <button class="btn-register">Start New Meeting</button>
        </div>
    </div>

</div>