<div class="container">
    <div class="row d-flex m-auto justify-content-center">
        <div class="col-5 formbox">
            <h3>Reset Password</h3>

            <div>
                <div class="errors" *ngIf="changeForm.get('password')?.hasError('pattern') && (changeForm.get('password')?.touched || changeForm.get('password')?.dirty)">Password must contain at least 8 characters. 1 UPPERCASE letter, 1 lowercase letter and 1 special symbol (!@#$%^&*)</div>
                <div class="errors" *ngIf="this.response == 'invalidOTP'">OTP Invalid. Please try again.</div>
                <div class="errors" *ngIf="this.response == 'notExists'">User does not exist. Please create an account first.</div>
                <div class="noerr" *ngIf="this.response == 'otpSent'">OTP Sent. Please check your email.</div>
                <div class="noerr" *ngIf="this.response == 'inprogress'">Password change in progress, please wait.</div>
                <div class="noerr" *ngIf="this.response == 'changed'">Password Changed, redirecting back to login.</div>
                
            </div>
            
            <form style="margin-bottom:30px" [formGroup] = "sendForm" (ngSubmit)="generateOTP()" *ngIf="!this.otpsent">
                <div class="field form-floating">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email" required>
                    <label for="" class="label">Email</label>
                </div>
                <button class="btn-register" type="submit">
                    <div>
                        Send OTP
                    </div>
                </button>
            </form>
            <form style="margin-bottom:30px" [formGroup] = "verifyForm" (ngSubmit)="verifyOTP()" *ngIf="(this.otpsent && !this.otpverified)">
                <div class="field form-floating" [class.invalid]="">
                    <input type="password" class="form-control" formControlName="otp" placeholder="OTP" required>
                    <label for="" class="label">OTP</label>
                </div>
                <button class="btn-register" type="submit">
                    <div>
                        Continue
                    </div>
                </button>
            </form>
            <form style="margin-bottom:30px" [formGroup]="changeForm" *ngIf="this.otpverified" (ngSubmit)="changePassword()">
                <div class="field form-floating" [class.invalid]="changeForm.get('password')?.hasError('pattern') && (changeForm.get('password')?.touched || changeForm.get('password')?.dirty)" [class.success]="changeForm.get('password')?.valid && (changeForm.get('password')?.touched || changeForm.get('password')?.dirty)">
                    <input type="password" class="form-control" formControlName="password" placeholder="New Password" required>
                    <label for="" class="label">New Password</label>
                </div>
                <div class="field form-floating" [class.invalid]="(changeForm.hasError('noMatch')) && (changeForm.get('cnfpassword')?.touched || changeForm.get('cnfpassword')?.dirty)" [class.success]="(changeForm.get('cnfpassword')?.value != '')&&(changeForm.get('password')?.value == changeForm.get('cnfpassword')?.value) && (changeForm.get('cnfpassword')?.touched || changeForm.get('cnfpassword')?.dirty)">
                    <input type="password" class="form-control" formControlName="cnfpassword" placeholder="Confirm Password" required>
                    <label for="" class="label">Confirm Password</label>
                </div>
                <button class="btn-register" type="submit" [disabled]="changeForm.invalid">
                    <div>
                       Change Password
                    </div>
                </button>
            </form>
        </div>
        
    </div>
    
</div>